<div class='col-xs-10 col-xs-offset-1'>
  <h1>Edit Profile</h1>
  <% if @profile.avatar.present? %>
    <%= image_tag @profile.avatar, class: 'profile-image' %>
  <% else %>
    <%= image_tag 'profile_image_placeholder.png', class: 'profile-image' %>
  <% end %>
  <br/>
  <%= simple_form_for @profile, url: profile_path(current_user) do |f| %>
    <%= f.input :avatar %>
    <br/>
    <%= f.input :user_name %>
    <br/>
    <%= f.input :remote_ok?%>
    <br/>
    <%= f.submit 'Edit Profile', class: 'btn btn-primary' %>
  <% end %>
</div>