<div class='col-xs-12 col-sm-10 col-sm-offset-1'>
  <div class='user-profiles-inner'>
    <% @profiles.each do |profile| %>
      <div class='user-profile-card'>
        <%= link_to profile_path(profile.user), class: 'profile-card-link' do %>
        <div class='user-profile-card_heading'>
          <% if profile.avatar.present? %>
            <%= image_tag profile.avatar, class: 'user-profile-card_image' %>
          <% else %>
            <%= image_tag 'profile_image_placeholder.png', class: 'user-profile-card_image' %>
          <% end %>       
          <h4 class='user-profile-card_name'><%= profile.user_name %></h4>  
          <% end %>
        </div>
        <%= link_to profile_path(profile.user), class: 'profile-card-link' do %>
        <div class='user-profile-card_details'>
          <div class='profile-card-details_country'>
            <p class='profile-field'>Country</p>
            <p class='profile-value'><%= profile.country_name %></p>
          </div>
          <div class='profile-card-details_timezone clear'>
            <p class='profile-field'>Time Zone</p>
            <p class='profile-value'><%= profile.time_zone %></p>
          </div>
          <div class='profile-card-details_remote clear'>
            <p class='profile-field'>Work Remotely?</p>
            <p class='profile-value'>
              <% if profile.remote_ok? %>
                Remote
              <% else %>
                Local Only
              <% end %>
            </p>
          </div>
          <div class='profile-card-details_groups clear'>
            <p class='profile-field'>No. of Groups</p>
            <p class='profile-value'><%= profile.user.enrolled_groups.count %></p>            
          </div>
          <div class='profile-card-details_description clear'>
            <%= profile.description %>
          </div>          
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>