<div class='col-xs-10 col-xs-offset-1'>
  <div class='groups-index-contents-inner'>
    <% @groups.each do |group| %>
      <div class='group-box'>
        <div class='group-front'>
          <%= image_tag('http://placehold.it/300x150', class: 'group-image')%>
          <div class='group-heading'>
            <h1><%= group.name %></h1>
            <h3><%= group.course %></h3>
          </div>
          <div class='group-prereq'>
            <p>Country: Singapore</p>
            <p>Commitment per week: <%= group.commitment_hours%>hrs</p>
            <p>
              <% if group.remote == true %>
                Remote members welcome
              <% else %>
                Local members only
              <% end %>
            </p>
          </div>
          <div class='group-details'>
            Members: <%= image_tag('http://placehold.it/50x50', class: 'group-members-image')%>
            <p>This is a group description...yada yada yada</p>
          </div>
        </div>

        <div class='group-back hidden'>
          <%= image_tag('http://placehold.it/300x150', class: 'group-image')%>
          <div class='group-heading'>
            <h1><%= group.name %></h1>
            <h3><%= group.course %></h3>
          </div>
          <div class='group-details'>
            Members: <%= image_tag('http://placehold.it/50x50', class: 'group-members-image')%>
            <p>This is a group description...yada yada yada</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>