<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12'>
  <div class='current-group-contents'>

    <div class='individual-group-heading'>
      <br/>
      <% if current_group.image.present? %>
        <%= image_tag current_group.image, class: 'group-display-image' %>
      <% else %>
        <%= image_tag 'coverimage.jpg', class: 'group-display-image' %>
      <% end %>
      <br/>
      <br/>
      <div class='individual-group-heading-details-and-buttons'>
        <div class='individual-group-heading-details'>
          <h1><%= current_group.name %></h1>
          <p>is working on...</p>
          <h2><%= current_group.course %></h2>
        </div>
        <% if current_user.present? && current_group.members.find_by_id(current_user.id).present? %>
          <%= link_to 'Member\'s Area', member_group_path(current_group), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

    <div class='individual-group-details'>
      <h3>Group Details</h3>
      <p>Commitment per week: <%= current_group.commitment_hours %> hours</p>
      <p>Country: <%= current_group.country_name %></p>
      <p>Time Zone: <%= current_group.time_zone %></p>
      <% if current_group.remote.present? %>
        <p>Remote learners welcome!</p>
      <% else %>
        <p>Local learners please</p>
      <% end %>

      <div class='group-members'>
        Members: 
        <% current_group.members.each do |member| %>
          <%= render_member(member) %>
        <% end %>
      </div>
    </div>

    <%= link_to profile_path(current_group.user), class: 'group-user-profile-link' do %>
    <div class='individual-group-owner'>
      <%= image_tag current_group.user.profile.avatar, class: 'group-owner-avatar' %>
      <div class='group-owner-details'>
        <h4><%= current_group.user.profile.user_name %></h4>
        <p><%= current_group.user.profile.description %></p>
      </div>
    </div>
    <% end %>

    <div class='individual-group-description'>
      <h3>Group Description</h3>
      <p><%= current_group.description%></p>
    </div>

    <%= render_join_request_button %>

    <!-- Modal -->
    <div class="modal fade" id="joinRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Let the group know more about you</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for JoinRequest.new, url: group_join_requests_path(current_group) do |f| %>
              <%= f.input :message %>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Request to Join', class: 'btn btn-success' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if current_group.user == current_user %>
      <div class='group-requests'>
        <h3>Group Requests</h3>
        <% current_group.join_requests.each do |request| %>
        <br class='clear'/>
          <%= render_group_request(request) %>
        <% end %>
      </div>

      <br/>
      <%= link_to 'Edit Group Details',edit_group_path(current_group), class: 'btn btn-primary' %>
    <% end %>  
            
  </div>
</div>